@model CRM.Models.ViewModels.CustomerCreateViewModel


<div class="main">
	@await Component.InvokeAsync("Header")
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlert">
				<span>
					<b>@TempData["ErrorMessage"]</b>
				</span>
			</div>
		</div>

	}
	<div class="alertZipCode">
		<b>Cep informado não corresponde, verifique o cep digitado.</b>
	</div>
	<div>
		<h1 class="customerCreateTitle">Cadastro de Cliente</h1>

		<form id="formCustomerCreate" class="formCreateCustomer" method="post" asp-action="Create" asp-controller="Customers">
			<label for="codigo" class="span2">
				<p>Código</p>
				<input id="codigo" type="text" maxlength="5" data-val="true"
					   data-val-required="The Codigo field is required." name="Codigo" asp-for="@Model.Codigo">
			</label>
			<label for="cnpj" class="span4 dataSearch">
				<p class="bgWhite">
					Cnpj
				</p>
				<input id="cnpj" oninput="this.value = this.value.replace(/[^0-9\.\-\/]/g, '')" type="text" data-val="true" maxlength="18" name="Cnpj" value="@Model.Cnpj">
				@**@
				<button id="dataSearchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
			</label>
			<label for="razaoSocial" class="">
				<p>
					Razão Social
				</p>
				<input id="razaoSocial" type="text" data-val="true"
					   data-val-required="The RazaoSocial field is required." name="RazaoSocial" asp-for="@Model.RazaoSocial">
			</label>
			<label for="contato" class="span2">
				<p class="bgWhite">
					Contato / Comprador
				</p>
				<input id="contato" type="text" data-val="true"
					   data-val-required="The Contato field is required." name="Contato" asp-for="@Model.Contato">
			</label>
			<label >
				<p>
					CEP
				</p>
				<input id="zipCodeInput" type="text" maxlength="8" asp-for="@Model.Cep">
				
			</label>

			<label for="cidade" class=" inputCountry ">
				<p class="bgWhite">
					Cidade
				</p>

				<input id="city" type="text"
					   name="Cidade" asp-for="@Model.Cidade">

			</label>
			<label for="uf" class="select span2">
				<p>
					UF
				</p>
				<select id="uf" name="Uf" asp-for="@Model.Uf">
					<option value=""></option>
					<option value="RO">RO</option>
					<option value="AC">AC</option>
					<option value="AM">AM</option>
					<option value="RR">RR</option>
					<option value="PA">PA</option>
					<option value="AP">AP</option>
					<option value="TO">TO</option>
					<option value="MA">MA</option>
					<option value="PI">PI</option>
					<option value="CE">CE</option>
					<option value="RN">RN</option>
					<option value="PB">PB</option>
					<option value="PE">PE</option>
					<option value="AL">AL</option>
					<option value="SE">SE</option>
					<option value="BA">BA</option>
					<option value="MG">MG</option>
					<option value="ES">ES</option>
					<option value="RJ">RJ</option>
					<option value="SP">SP</option>
					<option value="PR">PR</option>
					<option value="SC">SC</option>
					<option value="RS">RS</option>
					<option value="MS">MS</option>
					<option value="MT">MT</option>
					<option value="GO">GO</option>
					<option value="DF">DF</option>

				</select>


			</label>
			<div id="email" class="inputEmail">
				<label for="email1" class="">
					<p>
						Email
					</p>
					<input id="email1"  type="email" name="Emails" asp-for="@Model.Emails[0]">
				</label>
				<label for="email2" class="">
					<p>
						Email
					</p>
					<input id="email2"  type="email" name="Emails" asp-for="@Model.Emails[1]">
				</label>
				<label for="email3" class="">
					<p>
						Email
					</p>
					<input id="email13" type="email" name="Emails" asp-for="@Model.Emails[2]">
				</label>
			</div>
			<div id="phone" class=" inputPhone">
				<label for="phone1" class="">
					<p>
						Telefone
					</p>
					<input id="phone1" type="text" name="Phones" asp-for="@Model.Phones[0]">
				</label>
				<label for="phone2" class="">
					<p>
						Telefone
					</p>
					<input id="phone2" type="text" name="Phones"  asp-for="@Model.Phones[1]">
				</label>
				<label for="phone3" class="">
					<p>
						Telefone
					</p>
					<input id="phone3" type="text" name="Phones"  asp-for="@Model.Phones[2]">
				</label>

			</div>
			<div class="formCreateCustomer_buttons">
				<a asp-action="Index" asp-controller="Customers" class="backBtn" type="button">Voltar</a>
				<button id="resetForm" class="cleanBtn" type="button">Limpar campos</button>
				<button id="saveBtn" class="saveBtn" type="button">Salvar</button>
			</div>
		</form>
	</div>
</div>
<footer class="footer">
	<p> &copy; <a href="#">U.Code</a> development</p>
	<p class="footer_link">Visite nosso site <a href="#">U.code</a> </p>
</footer>

<script src="/js/Alerts.js"></script>
<script src="~/js/GetNewCustomerData.js"></script>


<script>

</script>
