@model CRM.Models.ViewModels.CustomerEditViewModel
@{
	string date;
	date = @Model.NextContactDate.ToString("yyyy-MM-dd HH:mm");
	var lastPurchaseValue = double.Parse(Model.LastPurchaseValue.ToString());
	string lastPurchase = lastPurchaseValue.ToString("C2", new System.Globalization.CultureInfo("pt-BR"));
}
<form class="customerDataEditForm" asp-controller="Customers" asp-action="Edit">
	<div class="customerDataEditFormContainer">
		<h3>Alterar dados</h3>
		<input value="@Model.Id" asp-for="@Model.Id" hidden />
		<label for="codigo">
			Código
			<input id="codigo" type="text" value="@Model.Codigo" asp-for="@Model.Codigo" maxlength="5" />
		</label>
		<label>
			Razão Social
			<input value="@Model.RazaoSocial" asp-for="@Model.RazaoSocial" />
		</label>
		<label>
			CNPJ
			<input value="@Model.Cnpj" asp-for="@Model.Cnpj" />
		</label>
		<label>
			Comprador(es)
			<input value="@Model.Contact" asp-for="@Model.Contact" />
		</label>
		<label>
			Status
			<span class="selctPhantom"></span>
			<select style="color:red" name="status" asp-for="@Model.Status">
				<option value="true">Ativo</option>
				<option value="false">Inativo</option>
			</select>

		</label>
		@{
			var count = 0;
			foreach (var phone in Model.Phones)
			{
				
				<label>
					Telefone
					<input type="text" value="@phone.Phone" asp-for="@Model.Phones[count].Phone" />
				</label>
				count++;

			}

			count = 0;
			foreach (var mail in Model.Emails)
			{

				<label>
						Email
						<input type="text" value="@mail.Email" Id="@mail.Id" asp-for="@Model.Emails[count].Email" />
					</label>
				count++;

			}
		}
		<label>
			Cidade:
			<input type="text" value="@Model.Cidade" asp-for="@Model.Cidade" />
		</label>
		<label>
			Uf
			<span class="selctPhantom"></span>
			<select id="uf" name="Uf" asp-for="@Model.Uf">
				<option value="AC">AC</option>
				<option value="AL">AL</option>
				<option value="AM">AM</option>
				<option value="AP">AP</option>
				<option value="BA">BA</option>
				<option value="CE">CE</option>
				<option value="DF">DF</option>
				<option value="ES">ES</option>
				<option value="GO">GO</option>
				<option value="MA">MA</option>
				<option value="MG">MG</option>
				<option value="MS">MS</option>
				<option value="MT">MT</option>
				<option value="PA">PA</option>
				<option value="PB">PB</option>
				<option value="PE">PE</option>
				<option value="PI">PI</option>
				<option value="PR">PR</option>
				<option value="RJ">RJ</option>
				<option value="RN">RN</option>
				<option value="RO">RO</option>
				<option value="RR">RR</option>
				<option value="RS">RS</option>
				<option value="SC">SC</option>
				<option value="SE">SE</option>
				<option value="SP">SP</option>
				<option value="TO">TO</option>
			</select>
		</label>
		<input type="text" value="@Model.NextContactDate" asp-for="@Model.NextContactDate" hidden />
		<input type="text" value="@Model.LastPurchaseDate" asp-for="@Model.LastPurchaseDate" hidden />
		<input type="text" value="@Model.LastPurchaseValue" asp-for="@Model.LastPurchaseValue" hidden />

		<div class="customerDataEditFormCta">
			<button asp-action="Delete" type="submit" id="customerDataEditFormDelet">Deletar</button>
			<button type="reset" id="customerDataEditFormCancel">Cancelar</button>
			<button type="button" id="customerDataEditFormSave">Salvar</button>
		</div>
	</div>
</form>
<div class="main">

	@await Component.InvokeAsync("Header")
	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlert">
				<span>
					<b>@TempData["ErrorMessage"]</b>
				</span>
			</div>
		</div>

	}
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlertSuccess">
				<span>
					<b>@TempData["SuccessMessage"]</b>
				</span>
			</div>
		</div>

	}

	<div class="customerEdit">

		<section class="customerBody">
			<article class="customerCard">
				<div id="spanAlertContainer">
					<div id="spanAlert" class="spanAlert">
						<span>
							Deseja realmente deletar o cliente:<br />
							<b>@Model.RazaoSocial</b>
						</span>
					</div>
				</div>

				<div class="card_container">

					<section class="customerData">
						<h3>Informações do cliente:</h3>
						<p><span>Código:</span> @Model.Codigo</p>
						<p><span>Razão Social:</span> @Model.RazaoSocial</p>
						<p><span>CNPJ:</span> @Model.Cnpj</p>
						<p><span>Comprador(es):</span> @Model.Contact</p>
						@if (Model.Status == true)
						{

							<p><span>Status:</span> Ativo</p>
						}
						else
						{
							<p><span>Status:</span> Inativo</p>
						}
						@foreach (var phone in Model.Phones)
						{
							if (phone.Phone != "" && phone.Phone != null)
							{
								<p><span>Telefone:</span> @phone.Phone</p>
							}
						}
						@foreach (var mail in Model.Emails)
						{
							if (mail.Email != "" && mail.Email != null)
							{
								<p><span>Email:</span> @mail.Email</p>
							}

						}
						<p><span>Cidade:</span> @Model.Cidade</p>
						<p><span>Uf:</span> @Model.Uf</p>
						<p><span>Última compra:</span> @Model.LastPurchaseDate.ToString("dd/MM/yyyy") - @lastPurchase</p>
						<p><span>Próximo contato em:</span> @Model.NextContactDate.ToString("dd/MM/yyyy HH:mm")</p>
						<p><span>Dias inativos:</span> @Model.InactiveDays</p>

					</section>
					<i id="customerDataEdit" class="fa-solid fa-pen-to-square"></i>
				</div>
			</article>
		</section>
		<section class="registrationsContainer">
			<form asp-controller="Customers" asp-action="RegistrationContact" method="post">
				<div class="registrationsContent">
					<div class="registrationTitle">
						<h1>Registros de contato</h1>
					</div>
					@{
						if (Model.ContactRecords.Count() <= 0)
						{
							<div>
								<p>Ainda não há registros de contatos recentes</p>
							</div>
						}
						else
						{
							for (int i = Model.ContactRecords.Count(); i >= 1; i--)
							{
								<div class="registrationsCard">
									<span>@Model.ContactRecords[i-1].RegistrationDate - @Model.RazaoSocial</span>
									<div class="contentRegistration">
										@Model.ContactRecords[i-1].Anotation
									</div>
								</div>
							}
						}

					}
				</div>

				<div class="registrationInput">

					<textarea id="ContactRecordsAnotation" name="anotation"></textarea>
					<div class="registrationInputCta">
						@{

							<input id="ContactRecordsDate" type="datetime-local" value="@date" name="date" required />
							<input type="text" value="@Model.Id" asp-for="@Model.Id" hidden />
						}

						<button type="submit" class="card_cta-saveChanges btnInsertContact">Enviar</button>
					</div>

				</div>
			</form>
		</section>
	</div>
</div>
<footer class="footer">
	<p> &copy; <a href="#">U.Code</a> development</p>
	<p class="footer_link">Visite nosso site <a href="#">U.code</a> </p>
</footer>


<script src="/js/customer.js"></script>
<script src="/js/Alerts.js"></script>

@*<script>

	let EditForm = document.querySelector('#EditForm')
	EditForm.addEventListener('click', (e) => {


		if (e.target.className == 'fa-trash-can-edit fa-solid fa-trash-can') {

			alert(e.target.getAttribute('data'))
		}

	})
</script>
*@
