@model List<CustomerModel>

<div class="main">
	@await Component.InvokeAsync("Header")

	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlert">
				<span>
					<b>@TempData["ErrorMessage"]</b>
				</span>
			</div>
		</div>

	}
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlertSuccess">
				<span>
					<b>@TempData["SuccessMessage"]</b>
				</span>
			</div>
		</div>

	}
	<div class="actionsContainer">
		<div class="envio-arquivos">
			<div class="arquivos_title">
				<span>Faça o upload de sua planilha <b class="excel">excel</b> aqui!</span>
			</div>

			<form asp-action="SendFile" asp-controller="SendFile" method="post" enctype="multipart/form-data">
				<label for="btn-send-file" class="btn btn-primary input-file col-md-2 text-center">Procurar Arquivo</label>
				<input id="btn-send-file" class="btn btn-success input-file col-md-2 text-center" name="uploadFile" type="file" multiple hidden />
				<button id="sendFileBtn" class="col-md-2 input-file-btn" type="submit">Enviar</button>
			</form>
			<div id="inputFileName"></div>
		</div>
		<div class="addCustomerBtn">
			<a asp-action="Create" asp-controller="Customers">Adicionar Novo Cliente <i class="fa-solid fa-hand-pointer"></i></a>
		</div>
	</div>
	<form asp-controller="Customers" asp-action="GetByStatus" method="post" hidden>
		<input id="statusValue" value="" name="status"/>
		<button id="statusSend" type="submit"></button>
	</form>
	<section id="table_row">
		<!-- <table id="myTable2" class="table_Securytis"> -->
		<div class="card">
			<div class="card_header">
				<div class="table_float">
					Clientes
					<form class="table_float-dates" asp-action="FindCustomerByDate" asp-controller="Customers" method="post">
						<span>Buscar proximos contatos entre:</span>
						<input type="date" id="initialDate" name="initialDate" />
						<input type="date" id="finalDate" name="finalDate" />
						<button id="dataFindBtn" class="dataFindBtn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
				</div>
			</div>
			<div class="card_body">
				<table id="myTable" class="myTable display wrap">

					<thead>

						<tr>

							<th>
								Codigo
							</th>
							<th>
								Razão Social / CNPJ
							</th>
							<th class="th_status">
								<select id="selection">
									<option value="Todos">Todos</option>
									<option value="Inativo">Inativo</option>
									<option value="Ativo">Ativo</option>
								</select>
							</th>
							<th class="wordBreak">
								Email
							</th>
							<th>
								Telefone
							</th>
							<th>
								Contato
							</th>
							@*<th>
							Cidade
							</th>*@
							<th>
								UF
							</th>
							<th>
								Última Compra
							</th>
							<th id="lastPurchase">
								R$
							</th>
							
							<th id="ultimoContato">
								Último contato
							</th>
							<th class="maxWidth">
								Último Registro
							</th>
							<th id="proximoContato">
								Próximo Contato
							</th>
							<th>
								Ações
							</th>
						</tr>
					</thead>

					<tbody id="tbody">

						@foreach (var item in Model)
						{
							<tr>

								<td>

									<p class="thead_id ">@item.Codigo</p>

								</td>
								<td class="razao minWidth">
									<p>
										@item.RazaoSocial
									</p>
									<p>
										<b>@item.Cnpj</b>
									</p>
								</td>
								<td class="td_status">

									@if (item.Status == true)
									{
										<p class="status">
											Ativo
										</p>
									}
									else
									{
										<p class="status status_inactive">
											Inativo
										</p>
									}
								</td>
								@foreach (var email in item.Emails)
								{
									<td class="wordBreak">
										<p>@email.Email</p>
									</td>

								}
								@foreach (var phone in item.Phones)
								{
									<td>
										<p>@phone.Phone</p>
									</td>

								}
								<td>
									@item.Contact
								</td>
								@*<td>
							<p>@item.Cidade</p>
							</td>*@
								<td class="td_width">
									<p>@item.Uf</p>
								</td>

								@{
									double purchaseValue = 0;
									string purchaseDate = "01/01/1999";
									foreach (var purchase in item.CustomerPurchases)
									{
										purchaseValue = purchase.PurchaseValue;
										if (purchase.PurchaseDate != null)
										{	purchaseDate = purchase.PurchaseDate.ToString("yyyy/MM/dd");

										}										
									}
								}
								<td class="dateConvert">
									@purchaseDate
								</td>
								<td>
									<p>
										@purchaseValue.ToString("F2")
									</p>
								</td>

								<td>
									@if (@item.ContactRecords.Count() == 0)
									{
										<p>01/01/1999</p>
									}
									else
									{
										var count = @item.ContactRecords.Count();
										<p>@item.ContactRecords[count-1].RegistrationDate.ToShortDateString()</p>
									}
								</td>
								<td class="minWidth">
									@if (@item.ContactRecords.Count() == 0)
									{
										<p>Nenhum registro de contato</p>
									}
									else
									{
										var count = @item.ContactRecords.Count();
										<p>@item.ContactRecords[count-1].Anotation</p>
									}
								</td>
								<td class="lastPurchase">
									@{
										if (@item.NextContactDate < DateTime.Now)
										{

												<p class="">@item.NextContactDate.ToString("yyyy/MM/dd")</p>
										}
										else
										{


												<p>@item.NextContactDate.ToString("yyyy/MM/dd")</p>

										}

									}
								</td>

								<td>
									<a asp-action="Editar" asp-controller="Customers" asp-route-id="@item.Id" class="table_actions">
										<div class="contact_cta">
											<i class="fa-solid fa-pen-to-square"></i>
											<i class="fa-regular fa-trash-can"></i>
										</div>

									</a>

								</td>


							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</section>

</div>
<footer class="footer">
	<p> &copy; <a href="#">U.Code</a> development</p>
	<p class="footer_link">Visite nosso site <a href="#">U.code</a> </p>
</footer>
<script>
	const selection = document.getElementById('selection')
	const statusValue = document.getElementById('statusValue')
	const statusSend = document.getElementById('statusSend')

	selection.addEventListener('change',()=>{
		statusValue.value = selection.value
		
		statusSend.click()
	})
</script>
@*<script src="/js/SelectTableItems.js"></script>*@
<script src="/js/Alerts.js"></script>



