@using System.Text
@using System.Globalization
@model List<CustomerModel>
<div id="RegistrationContainer">
	<form class="registrationModal" asp-controller="Customers" asp-action="RegistrationContact">
		<p id="customerCode"></p>
		<p id="customerIdentity"></p>
		<textarea id="customerNewAnotation" name="anotation" placeholder="Novo registro de contato"></textarea>
		<input class="nextContactDate nextContactDateRed" name="date" id="registrationDate" type="datetime-local" />
		<input name="id" id="customerId" hidden />
		<input name="index" value="1" hidden />
		<div style="display:flex;gap:1rem" class="registrationModalActions ">
			<button id="registrationClose" type="button">Cancelar</button>
			<button type="submit">Enviar</button>
		</div>
	</form>
</div>

<div class="main">
	@await Component.InvokeAsync("Header")

	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlert">
				<span>
					<b>@TempData["ErrorMessage"]</b>
				</span>
			</div>
		</div>

	}
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlertSuccess">
				<span>
					<b>@TempData["SuccessMessage"]</b>
				</span>
			</div>
		</div>

	}

	<div class="actionsContainer">
		<div class="envio-arquivos">
			<form asp-action="SendFile" asp-controller="SendFile" method="post" enctype="multipart/form-data">
				@*<label for="btn-send-file" class="btn btn-primary input-file col-md-2 text-center">Procurar Arquivo</label>*@
				@*<input id="btn-send-file" class="btn btn-success input-file col-md-2 text-center" name="uploadFile" type="file" multiple hidden />*@
				<label for="btn-send-file" class="sendFile_dropArea">
					<p>Faça upload de sua planilha excel <b>(.xlsx)</b></p>
					<i class="fa-solid fa-cloud-arrow-up"></i>
					<input id="btn-send-file" type="file" name="uploadFile" />
					<div id="inputFileName"></div>
				</label>
				<div class="sendFileCta">
					<a class="exportXlsFile" asp-action="ExportXls" asp-controller="Customers">Exportar Clientes <i class="fa-solid fa-file-arrow-down"></i></a>
					<div>
						<button id="cancelFileBtn" class="col-md-2 input-file-btn cancelFileBtn" type="reset">Cancelar</button>
						<button id="sendFileBtn" class="col-md-2 input-file-btn" type="submit">Enviar</button>
					</div>
				</div>
			</form>
		</div>
		<div class="informationsToday">
			<h3>Contatos para hoje</h3>
			<p id="contactToday"></p>
		</div>
	</div>

	<section id="table_row">
		<div class="card">
			<div class="card_header">
				<div class="table_float">
					Clientes
					@*<select id="citySelection"></select>*@
					<form class="table_float-dates" asp-action="Index" asp-controller="Customers" method="get">
						<span>Buscar proximos contatos entre:</span>
						<input type="date" id="initialDate" name="initialDate" />
						<input type="date" id="finalDate" name="finalDate" />
						<button id="dataFindBtn" class="dataFindBtn findByDateBtn" type="submit"><i class="findByDateBtn fa-solid fa-magnifying-glass"></i></button>
						<span class="findByDateText">Para visualizar todos os clientes, não informe nenhuma data!</span>
					</form>
				</div>
			</div>
			<div class="card_body">

				<table id="myTable" class="myTable myTable1 display wrap">

					<thead>

						<tr>
							<th>
								Dados Principais
							</th>
							<th class="th_status">
								<select id="selection">
									<option id="all" value="Todos">Todos</option>
									<option id="ativo" value="Ativo">Ativo</option>
									<option id="inativo" value="Inativo">Inativo</option>
								</select>
							</th>
							<th>
								Última Compra
							</th>
							<th id="lastPurchase">
								R$
							</th>
							<th class="maxWidth">
								Último Contato
							</th>
							<th id="proximoContato">
								Próximo Contato em:
							</th>

							@*<th id="prioritySorting">
							Prioridade
							</th>*@
							<th>
								Ações
							</th>
						</tr>
					</thead>

					<tbody id="tbody">


						@foreach (var item in Model)
						{
							<tr>

								<td class="maxWidth" id="Data">

									<p class="customerId" hidden>@item.Id</p>
									<p>
										<b>Código:</b><span class="customerCode"> @item.Codigo</span>
									</p>

									<p>
										@if (item.RazaoSocial.Length < 20)
										{
											<b>Razão Social: </b>

											<span class="customerName">
												@item.RazaoSocial.ToString()
											</span>
										}
										else
										{
											<b>Razão Social: </b>
											<span class="customerName">
												@item.RazaoSocial.ToString().Substring(0, 20)
											</span>
										}
									</p>

									<p><b>Contato: </b>@item.Contact</p>

									<div class="ortherData show">

										@{
											var phone = "";
											var email = "";
											for (int i = 0; i < item.Phones.Count(); i++)
											{
												if (item.Phones[i].Phone != "" && item.Phones[i].Phone != null)
												{

													phone = item.Phones[i].Phone;
												}
												if (item.Emails[i].Email != "" && item.Emails[i].Email != null)
												{

													email = item.Emails[i].Email;
												}

											}


										}
										<p><b>Telefone: </b>@phone</p>
										<p><b>Email: </b>@email</p>
										<p>
											<b>CNPJ: </b>@item.Cnpj
										</p>
										@{
											string city = item.Cidade.ToUpper();
											StringBuilder _city = new StringBuilder();
											var arrayText = city.Normalize(NormalizationForm.FormD).ToCharArray();
											foreach (char letter in arrayText)
											{
												if (CharUnicodeInfo.GetUnicodeCategory(letter) != UnicodeCategory.NonSpacingMark)
													_city.Append(letter);
											}
										}
										<p><b>Cidade: </b><span data="@_city">@_city</span></p>
										<p><b>Uf: </b><span data="uf">@item.Uf</span></p>
									</div>
									<button id="moreInformations">Mais... </button>

								</td>

								<td class="td_status">

									@if (item.Status == true)
									{
										<p class="status">
											Ativo
										</p>
									}
									else
									{
										<p class="status status_inactive">
											Inativo
										</p>
									}


								</td>
								@{
									DateTime today = DateTime.Now;
									DateTime purchaseDate = new DateTime(1999, 01, 01);
									double purchaseValue = 0;
									int counter = item.CustomerPurchases.Count();

									if (item.CustomerPurchases.Count() >= 1)
									{
										for (int i = 0; i < counter; i++)
										{
											if (item.CustomerPurchases[i].PurchaseValue > 0)
											{
												purchaseValue = item.CustomerPurchases[i].PurchaseValue;
												purchaseDate = item.CustomerPurchases[i].PurchaseDate;
											}
										}
									}

									var daysInactive = today - purchaseDate;
												<td class="dateConvert">
													<span hidden>@purchaseDate.ToString("yyyy-MM-dd")</span>
													<p>@purchaseDate.ToString("dd/MM/yyyy")</p>
													<p>Dias inativo: <b style="color:red">@daysInactive.Days </b></p>
												</td>
								}
								<td>
									<p>
										@purchaseValue.ToString("F2")
									</p>
								</td>


								<td >
									<div class="lastRegistration">
										@if (item.ContactRecords.Count() > 0)
										{
											var count = item.ContactRecords.Count();
											<p hidden>@item.ContactRecords[count-1].RegistrationDate.ToString("yyyy-MM-dd")</p>
											<p>Contato em: <b>@item.ContactRecords[count-1].RegistrationDate.ToShortDateString()</b></p>
											<p class="lastContactBox">@item.ContactRecords[count-1].Anotation</p>

										}
										else
										{
											<p hidden>1999-01-01</p>
											<p>Nenhum registro de contato</p>
										}
										<div class="lastRegistrationPlus">
											<i data="@item.Id" class="fa-solid fa-pen-to-square"></i>
										</div>
									</div>
								</td>
								<td>

									@{
													<span hidden>@item.NextContactDate.ToString("yyyy-MM-dd")</span>

										if (today < item.NextContactDate)
										{
														<input class="nextContactDate data_de_contato" id="@item.Id" type="datetime-local" value="@item.NextContactDate.ToString("yyyy-MM-dd HH:mm")" />
										}
										else
										{
														<input class="nextContactDate nextContactDateRed data_de_contato" id="@item.Id" type="datetime-local" value="@item.NextContactDate.ToString("yyyy-MM-dd HH:mm")" />
										}

									}
								</td>
								<td>
									<a asp-action="Editar" asp-controller="Customers" asp-route-id="@item.Id" class="table_actions link">
										<div class="contact_cta">
											<i class="fa-solid fa-pen-to-square"></i>
											<i class="fa-regular fa-trash-can"></i>
										</div>

									</a>

								</td>


							</tr>

						}

					</tbody>
				</table>
				<button id="UpdateSendBtn" class="updateSendBtn updateSendBtnAlert" type="button">Salvar Alterações</button>
			</div>
		</div>
	</section>
	<form asp-action="UpdateNextContactDate" asp-controller="Customers" method="post" hidden>
		<input type="text" name="reciverStringfy" id="reciverStringfy" value="" />
		<button type="submit" id="StringfySendBtn"></button>
	</form>
	<form asp-action="ChangePriority" asp-controller="Customers" hidden>
		<input type="text" name="priority" id="priorityStatusChange" value="" />
		<input type="text" name="priorityId" id="priorityId" value="" />
		<button type="submit" id="prioritySubmit"></button>
	</form>

</div>
<footer class="footer">
	<p> &copy; <a href="#">U.Code</a> development</p>
	<p class="footer_link">Visite nosso site <a href="#">U.code</a> </p>
</footer>

<script>
	tbody.addEventListener('click', (e) => {
		if (e.target.classList.contains('priorityRadio')) {
			document.getElementById("priorityId").value = e.target.getAttribute('name')
			document.getElementById("priorityStatusChange").value = e.target.getAttribute("id")
			document.getElementById("prioritySubmit").click()
		}
	})
	setTimeout(() => {
		document.querySelector('#prioritySorting').click()
		setTimeout(() => {
			document.querySelector('#prioritySorting').click()
		}, 200)
	}, 200)
</script>

<script src="/js/statusSelection.js"></script>

<script src="/js/Alerts.js"></script>

<script src="/js/getCustomersDb.js"></script>

<script>
	const myTable = document.getElementById('myTable')
	const UpdateSendBtn = document.getElementById('UpdateSendBtn')
	let currentDateValue = ''
	let newDateValue = ''
	let _customersData = JSON.parse(localStorage.getItem('Customers'))


	myTable.addEventListener('click', (e) => {
		currentDateValue = e.target.value

		if (e.target.nodeName === "INPUT") {

			e.target.addEventListener('change', () => {
				var customer = _customersData.filter((item) => item.customerId.toLowerCase().includes(e.target.parentNode.parentNode.querySelector('.customerId').textContent))
				var customerIndex = _customersData.findIndex((obj) => obj.customerCode === customer[0].customerCode)



				var nextContact = e.target.parentNode
				var date = nextContact.querySelector('.data_de_contato').value


				_customersData[parseInt(customerIndex)].nextContactDate = `${date}:00`
				UpdateSendBtn.style.display = 'flex'


				if (e.target.value >= currentDateValue) {
					e.target.classList.remove('nextContactDateRed')
				}
				localStorage.setItem('Customers', JSON.stringify(_customersData))

			})
		}
	})

	UpdateSendBtn.addEventListener('click', function () {
		document.querySelector('#reciverStringfy').value = JSON.stringify(_customersData)
		document.querySelector('#StringfySendBtn').click()
	})
	UpdateAlert()
	function UpdateAlert() {
		setInterval(() => {
			UpdateSendBtn.classList.add('updateSendBtnAlert')
			setTimeout(() => {
				UpdateSendBtn.classList.remove('updateSendBtnAlert')
			}, 300)

		}, 15000)

		setTimeout(() => {
			UpdateSendBtn.classList.remove('updateSendBtnAlert')
		}, 300)
	}



</script>
<script>
	const tbody = document.getElementById('tbody')
	const moreInformationText = document.getElementById('moreInformations')
	tbody.addEventListener('click', (e) => {
		if (e.target.nodeName === 'BUTTON') {
			e.target.parentNode.querySelector(".ortherData").classList.toggle("show")
			if (e.target.innerText != "Menos...") {
				e.target.innerText = "Menos..."
			}
			else {
				e.target.innerText = "Mais..."
			}

		}

	})
</script>

<script>
	const exportXlsFile = document.querySelector('.exportXlsFile')
	exportXlsFile.addEventListener('click', () => {
		setTimeout(() => {
			let spiner = document.querySelector('.spinner-show')
			spiner.style.display = 'none'
		}, 3000)
	})
</script>
<script>
	const cancelFileBtn = document.querySelector("#cancelFileBtn")
	cancelFileBtn.addEventListener('click', () => {
		document.getElementById('inputFileName').innerText = ''
		btnSendFile.files[0] = ''
	})
</script>
<script>
	let dates = document.querySelectorAll('.nextContactDate')
	let count = 0
	let todayy = new Date()
	let _date = new Date()
	todayy = `${todayy.getDate()}/${todayy.getMonth()}/${todayy.getFullYear()}`
	dates.forEach((date) => {

		let newDay = new Date(date.value)
		newDay = `${newDay.getDate()}/${newDay.getMonth()}/${newDay.getFullYear()}`;

		if (newDay == todayy) {

			count++
		}
		document.querySelector('#contactToday').innerText = count

	})




</script>
<script>
	let date = new Date();
	let day = date.getDate() > 10 ? date.getDate() : `0${date.getDate()}`
	date = `${date.getFullYear()}-${date.getMonth() + 1}-${day}T08:00`
	tbody.addEventListener('click', function (e) {
		if (e.target.classList.contains('fa-pen-to-square')) {
			let customers = JSON.parse(localStorage.getItem("Customers"))
			document.querySelector('#RegistrationContainer').style.display = 'flex'
			let id = e.target.getAttribute('data')
			let customer = customers.find(x => x.customerId == id)
			document.querySelector('#customerIdentity').textContent = customer.customerName
			document.querySelector('#customerCode').textContent = 'Código: ' + customer.customerCode
			document.querySelector('#customerId').value = customer.customerId
			document.querySelector('#registrationDate').value = date
		}
	})
	document.querySelector('#registrationClose').addEventListener('click', () => {

		document.querySelector('#customerNewAnotation').value = ''
		document.querySelector('#RegistrationContainer').style.display = 'none'
	})
	let registrationDateInput = document.querySelector('#registrationDate')
	registrationDateInput.addEventListener('change', () => {

		registrationDateInput.classList.remove('nextContactDateRed')
	})
</script>

