@model List<CustomerModel>


<div class="main">
	@await Component.InvokeAsync("Header")

	@if (TempData["ErrorMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlert">
				<span>
					<b>@TempData["ErrorMessage"]</b>
				</span>
			</div>
		</div>

	}
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alertSendFile">
			<div id="spanAlert" class="spanAlertSuccess">
				<span>
					<b>@TempData["SuccessMessage"]</b>
				</span>
			</div>
		</div>

	}
	<div class="actionsContainer">
		<div class="envio-arquivos">
			<div class="arquivos_title">
				<span>Faça o upload de sua planilha <b class="excel">excel</b> aqui!</span>
			</div>

			<form asp-action="SendFile" asp-controller="SendFile" method="post" enctype="multipart/form-data">
				<label for="btn-send-file" class="btn btn-primary input-file col-md-2 text-center">Procurar Arquivo</label>
				<input id="btn-send-file" class="btn btn-success input-file col-md-2 text-center" name="uploadFile" type="file" multiple hidden />
				<button id="sendFileBtn" class="col-md-2 input-file-btn" type="submit">Enviar</button>
			</form>
			<a class="exportXlsFile" asp-action="ExportXls" asp-controller="Customers">Exportar Clientes</a>
			<div id="inputFileName"></div>
		</div>
		<div class="addCustomerBtn">
			<a asp-action="Create" asp-controller="Customers">Novo Cliente <i class="fa-solid fa-hand-pointer"></i></a>
		</div>
	</div>
	<form asp-controller="Customers" asp-action="Index" method="post" hidden>
		<input id="statusValue" value="" name="statusValue" />
		<button id="statusSend" type="submit"></button>
	</form>
	<section id="table_row">
		<!-- <table id="myTable2" class="table_Securytis"> -->
		<div class="card">
			<div class="card_header">
				<div class="table_float">
					Clientes
					<form class="table_float-dates" asp-action="Index" asp-controller="Customers" method="get">
						<span>Buscar proximos contatos entre:</span>
						<input type="date" id="initialDate" name="initialDate" />
						<input type="date" id="finalDate" name="finalDate" />
						<button id="dataFindBtn" class="dataFindBtn findByDateBtn" type="submit"><i class="findByDateBtn fa-solid fa-magnifying-glass"></i></button>
						<span class="findByDateText">Para visualizar todos os clientes, não informe nenhuma data!</span>
					</form>
				</div>
			</div>
			<div class="card_body">

				<table id="myTable" class="myTable myTable1 display wrap">

					<thead>

						<tr>
							<th>
								Dados Principais
							</th>
							<th class="th_status">
								<select id="selection">
									<option id="all" value="Todos">Todos</option>
									<option id="ativo" value="Ativo">Ativo</option>
									<option id="inativo" value="Inativo">Inativo</option>
								</select>
							</th>
							<th>
								Última Compra
							</th>
							<th id="lastPurchase">
								R$
							</th>

							<th id="ultimoContato">
								Data Último Contato
							</th>
							<th class="maxWidth">
								Último Registro de Contato
							</th>
							<th id="proximoContato">
								Próximo Contato em:
							</th>

							<th id="prioritySorting">
								Prioridade
							</th>
							<th>
								Ações
							</th>
						</tr>
					</thead>

					<tbody id="tbody">


						@foreach (var item in Model)
						{
							<tr>

								<td id="Data">

									<p class="customerId" hidden>@item.Id</p>
									<p>
										<b>Código:</b><span class="customerCode"> @item.Codigo</span>
									</p>

									<p>
										@if (item.RazaoSocial.Length < 20)
										{
											<b>Razão Social: </b>

											<span class="customerName">
												@item.RazaoSocial.ToString()
											</span>
										}
										else
										{
											<b>Razão Social: </b>
											<span class="customerName">
												@item.RazaoSocial.ToString().Substring(0, 20)
											</span>
										}
									</p>

									<p><b>Contato: </b>@item.Contact</p>

									<div class="ortherData show">

										@{
											var phone = "";
											var email = "";
											for (int i = 0; i < item.Phones.Count(); i++)
											{
												if (item.Phones[i].Phone != "" && item.Phones[i].Phone != null)
												{

													phone = item.Phones[i].Phone;
												}
												if (item.Emails[i].Email != "" && item.Emails[i].Email != null)
												{

													email = item.Emails[i].Email;
												}

											}


										}
										<p><b>Telefone: </b>@phone</p>
										<p><b>Email: </b>@email</p>
										<p>
											<b>CNPJ: </b>@item.Cnpj
										</p>
										<p><b>Cidade: </b>@item.Cidade</p>
										<p><b>Uf: </b>@item.Uf</p>
									</div>
									<button id="moreInformations">Mais... </button>

								</td>

								<td class="td_status">

									@if (item.Status == true)
									{
										<p class="status">
											Ativo
										</p>
									}
									else
									{
										<p class="status status_inactive">
											Inativo
										</p>
									}


								</td>
								@{
									double purchaseValue = 0;
									DateTime purchaseDate = new DateTime(1999, 01, 01);
									DateTime today = DateTime.Now;

									foreach (var purchase in item.CustomerPurchases)
									{
										purchaseValue = purchase.PurchaseValue;
										if (purchase.PurchaseDate != null)
										{
											purchaseDate = DateTime.Parse(purchase.PurchaseDate.ToString("yyyy-MM-dd"));

										}
									}
									var daysInactive = today - purchaseDate;
									<td class="dateConvert">
												<span hidden>@purchaseDate.ToString("yyyy-MM-dd")</span>
												<p>@purchaseDate.ToString("dd/MM/yyyy")</p>
												<p>Dias inativo: <b style="color:red">@daysInactive.Days </b></p>
											</td>
								}
								<td>
									<p>
										@purchaseValue.ToString("F2")
									</p>
								</td>

								<td>
									@if (@item.ContactRecords.Count() == 0)
									{
										<p>01/01/1999</p>
									}
									else
									{
										var count = @item.ContactRecords.Count();
										<p>@item.ContactRecords[count-1].RegistrationDate.ToShortDateString()</p>
									}
								</td>
								<td class="minWidth">
									@if (@item.ContactRecords.Count() == 0)
									{
										<p>Nenhum registro de contato</p>
									}
									else
									{
										var count = @item.ContactRecords.Count();
										<p>@item.ContactRecords[count-1].Anotation</p>
									}
								</td>
								<td class="">
									<span hidden>@item.NextContactDate.ToString("yyyy-MM-dd")</span>
									<input class="nextContactDate data_de_contato" id="@item.Id" type="date" value="@item.NextContactDate.ToString("yyyy-MM-dd")" />
								</td>
								<td class="priority">
									@if (item.Priority.ToString() == "green")
									{
										<label>
											<span hidden>1</span>
											<input id="green" class="priorityRadio priorityRadioGreen" name="@item.Id" type="radio" checked />
										</label>
									}
									else
									{
										<label>

											<input id="green" class="priorityRadio priorityRadioGreen" name="@item.Id" type="radio" />
										</label>
									}
									@if (item.Priority.ToString() == "red")
									{
										<label>
											<span hidden>2</span>
											<input id="red" class="priorityRadio priorityRadioRed" name="@item.Id" type="radio" checked />
										</label>
									}
									else
									{
										<label>

											<input id="red" class="priorityRadio priorityRadioRed" name="@item.Id" type="radio" />
										</label>

									}
								</td>
								<td>
									<a asp-action="Editar" asp-controller="Customers" asp-route-id="@item.Id" class="table_actions link">
										<div class="contact_cta">
											<i class="fa-solid fa-pen-to-square"></i>
											<i class="fa-regular fa-trash-can"></i>
										</div>

									</a>

								</td>


							</tr>

						}

					</tbody>
				</table>
				<button id="UpdateSendBtn" style="display:none;position:fixed;bottom:1rem;right:1rem" type="button">ENVIAR ALTERAÇÕES</button>
			</div>
		</div>
	</section>
	<form asp-action="UpdateNextContactDate" asp-controller="Customers" method="post" hidden>
		<input type="text" name="reciverStringfy" id="reciverStringfy" value="" />
		<button type="submit" id="StringfySendBtn"></button>
	</form>
	<form asp-action="ChangePriority" asp-controller="Customers" hidden>
		<input type="text" name="priority" id="priorityStatusChange" value="" />
		<input type="text" name="priorityId" id="priorityId" value="" />
		<button type="submit" id="prioritySubmit"></button>
	</form>

</div>
<footer class="footer">
	<p> &copy; <a href="#">U.Code</a> development</p>
	<p class="footer_link">Visite nosso site <a href="#">U.code</a> </p>
</footer>

<script>
	tbody.addEventListener('click', (e) => {
		if (e.target.classList.contains('priorityRadio')) {
			document.getElementById("priorityId").value = e.target.getAttribute('name')
			document.getElementById("priorityStatusChange").value = e.target.getAttribute("id")
			document.getElementById("prioritySubmit").click()
		}
	})
	setTimeout(() => {
		document.querySelector('#prioritySorting').click()
		setTimeout(() => {
			document.querySelector('#prioritySorting').click()
		}, 200)
	}, 200)
</script>

<script src="/js/statusSelection.js"></script>

@*
<script>
	const tableFloatDates = document.querySelector('.table_float-dates')
	const findByDateText = document.querySelector('.findByDateText')
	tableFloatDates.addEventListener('mouseover', (e) => {
		if (e.target.nodeName == 'BUTTON' || e.target.nodeName == 'I') {
			findByDateText.style.display = 'flex'
			setTimeout(function () {
				findByDateText.style.display = 'none'
			}, 5000)
		}

	})
</script>*@


<script src="/js/Alerts.js"></script>

<script src="/js/getCustomersDb.js"></script>

<script>
	const myTable = document.getElementById('myTable')
	const UpdateSendBtn = document.getElementById('UpdateSendBtn')
	let currentDateValue = ''
	let newDateValue = ''
	let _customersData = JSON.parse(localStorage.getItem('Customers'))


	myTable.addEventListener('click', (e) => {
		currentDateValue = e.target.value

		if (e.target.nodeName === "INPUT") {
			e.target.addEventListener('change', () => {
				var customer = _customersData.filter((item) => item.customerId.toLowerCase().includes(e.target.parentNode.parentNode.querySelector('.customerId').textContent))
				var customerIndex = _customersData.findIndex((obj) => obj.customerCode === customer[0].customerCode)
				_customersData[parseInt(customerIndex)].nextContactDate = e.target.value
				UpdateSendBtn.style.display = 'flex'
				if (e.target.value > currentDateValue) {
					e.target.classList.remove('nextContactDateRed')
				}
				localStorage.setItem('Customers', JSON.stringify(_customersData))

			})
		}
	})

	UpdateSendBtn.addEventListener('click', function () {
		document.querySelector('#reciverStringfy').value = JSON.stringify(_customersData)
		document.querySelector('#StringfySendBtn').click()
	})



</script>
<script>
	const tbody = document.getElementById('tbody')
	const moreInformationText = document.getElementById('moreInformations')
	tbody.addEventListener('click', (e) => {
		if (e.target.nodeName === 'BUTTON') {
			e.target.parentNode.querySelector(".ortherData").classList.toggle("show")
			if (e.target.innerText != "Menos...") {
				e.target.innerText = "Menos..."
			}
			else {
				e.target.innerText = "Mais..."
			}

		}

	})
</script>
<script>
	const date = new Date()
	const nextContactDateInput = document.querySelectorAll('.nextContactDate')
	nextContactDateInput.forEach(function (e) {
		let _date = new Date(e.value.replace("-", "/"))
		if (_date <= date) {
			e.classList.toggle('nextContactDateRed')

		}
	})
</script>
<script>
	const exportXlsFile = document.querySelector('.exportXlsFile')
	exportXlsFile.addEventListener('click', () => {
		setTimeout(() => {
			let spiner = document.querySelector('.spinner-show')
			spiner.style.display = 'none'
		}, 3000)
	})
</script>
